.WorkArea_root__zksdO {
    display: grid;
    grid-template-columns:.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:24px 48px 48px 48px 48px 48px 48px
}

.WorkArea_WorkArea_item__F7dU3 {
    border: 1px solid #000
}

.WorkArea_WorkArea_item__F7dU3, .WorkArea_WorkArea_item_topNum__joKM5 {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.WorkArea_WorkArea_item_topNum__joKM5 {
    background: #000;
    color: #fff
}

.WorkArea_WorkArea_active__PwI7b {
    border: 2px solid red;
    background: #000;
    color: #fff;
    font-size: 30px
}

@media screen and (max-height: 500px) {
    .WorkArea_root__zksdO {
        height: 100vh;
        grid-template-rows:.5fr 1fr 1fr 1fr 1fr 1fr 1fr
    }

    .WorkArea_WorkArea_active__PwI7b {
        font-size: 24px
    }
}